
  body{

    background-color: #f5f5f5;
 }
 /* CUSTOMIZE THE CAROUSEL
 -------------------------------------------------- */
 
 /* Carousel base class */
 .carousel {
   margin-bottom: 2rem;
 }
 /* Since positioning the image, we need to help out the caption */
 .carousel-caption {
   bottom: 3rem;
   z-index: 10;
 }
 
 /* Declare heights because of positioning of img element */
 .carousel-item {
   height: 32rem;
   background-color: #777;
 }
 .carousel-item > img {
   position: absolute;
   top: 0;
   left: 0;
   min-width: 100%;
 }
 
 
 .nav-list li {
   padding-top: 5px;
   padding-bottom: 5px;
}

.nav-list li a:hover:before {
   margin-left: 0;
   opacity: 1;
   visibility: visible;
}

ul, ol {
   list-style: none;
   padding: 0;
   margin: 0;
}
.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
 color: #ffffff;
}

.jumbotron{
  padding-top:1.5rem;padding-bottom:1.5rem;background:#444;border-radius:0px;color:#fff;
}
 /* RESPONSIVE CSS
 -------------------------------------------------- */
 
 @media (min-width: 40em) {
   /* Bump up size of carousel content */
   .carousel-caption p {
     margin-bottom: 1.25rem;
     font-size: 1.25rem;
     line-height: 1.4;
   }
 
   .featurette-heading {
     font-size: 50px;
   }
 }
 
 @media (min-width: 62em) {
   .featurette-heading {
     margin-top: 7rem;
   }
 }

 .navbar{
   padding: .8rem 1rem;
   -webkit-box-shadow: 0px 5px 6px -6px #999;
   -moz-box-shadow: 0px 5px 6px -6px #999;
   box-shadow: 0px 5px 6px -6px #999;
 }


.item-header-top > li{
   display: inline-block;
   line-height: 40px;
   padding-top:9px;
   text-align: center;
   color:white;
}
.card{
   box-shadow: 3px 5px 6px -6px #999;
}
.card-body{
   border-bottom: 1px solid #f1f1f1;
}